.blgcomment-list>li:nth-child(n+2) {
    margin-block-start: 15px !important;
}
.custom-card {
    border: 1px solid #ced4da;
}
.customizer-action svg{
    width: 23px !important;
    color: #ffffff !important;
}
.active-mode{
    border: solid 2px #000000 !important;
}
.property-img{
    max-width: 507px;
    max-height: 286px;
}
.text-justify{
    text-align: justify;
}
.custom .media{
    padding: 10px !important;
}
.user-avatar{
    width: 30px;
    height: 30px;
}
@media only screen and (max-width: 410px) {
    .header_li {
        display: none !important;
    }
}
.blgcomment-list li .media img{
    width: auto;
    height: 40px !important;
}

#card-element {
    border: 1px solid #e5e5e5 !important;
    border-radius: 5px !important;
    padding: 13px !important;
}
.codex-sidebar .logo-gridwrap, .codex-sidebar .icon-logo{
    padding: 0px 16px !important;
}

.setting-logo{
    width:300px !important;;
}

.landing-logo{
    width: 180px !important;
}
.lan-footer .codex-brand{
    margin-block-end: 0px !important;
}
.hiddenElement{
    display: none;
}
.info-list.inq-titles {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .info-list.inq-name-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .prop-heading {
    text-align: center;
    margin: 0px 0px 15px 10px;
    font-size: 1.5rem;
    background: white;
    padding: 10px;
  } 
